﻿@model ModelView.Covid_ModelView

<h6>Deteksi dini Covid-19 bagi civitas akademika UNSIKA</h6>
<hr />
<div class="form-horizontal" style="width:700px">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email" />
            <span class="error_form" id="email_error" style="position:fixed"></span>
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="nama">Nama :</label>
            <input type="text" class="form-control" id="nama" />
            @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="npm">NPM/NIS :</label>
            <input type="text" class="form-control" id="npm" />
            @Html.ValidationMessageFor(model => model.npm, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="umur">Umur :</label>
            <input type="text" class="form-control" id="umur" />
            @Html.ValidationMessageFor(model => model.umur, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="jk">Jenis Kelamin :</label><br>
            @Html.DropDownListFor(model => model.jk, new SelectList(ViewBag.ListJK, "value", "name"), "--Pilih Jenis Kelamin--", new { @class = "form-control" })
        </div>

        <div class="form-group col-sm-6">
            <label for="telp">Telp :</label>
            <input type="text" class="form-control" id="telp" />
            @Html.ValidationMessageFor(model => model.telp, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="alamat">Alamat Saat Ini :</label>
            <input type="text" class="form-control" id="alamat" />
            @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="asal">Alamat Asal :</label>
            <input type="text" class="form-control" id="asal" />
            @Html.ValidationMessageFor(model => model.asal, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="berada">Saat Ini Berada Di ?</label>
            <input type="text" class="form-control" id="berada" />
            @Html.ValidationMessageFor(model => model.berada, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<footer>
    <div class="btn-group col-md-offset-10" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-save btn-primary" id="btn_create_save">Kirim</button>
        <input type="button" value="Cancel" title="Cancel" class="btn btn-danger" data-dismiss="modal" />
    </div>
</footer>