﻿@model ModelView.Covid_ModelView

@Html.AntiForgeryToken()
<div class="form-horizontal" style="width:700px">
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="form-group col-sm-6">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email" value="@Model.email" />
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="nama">Nama :</label>
            <input type="text" class="form-control" id="nama" value="@Model.nama" />
            @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="npm">NPM/NIS :</label>
            <input type="text" class="form-control" id="npm" value="@Model.npm" />
            @Html.ValidationMessageFor(model => model.npm, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="umur">Umur :</label>
            <input type="text" class="form-control" id="umur" value="@Model.umur" />
            @Html.ValidationMessageFor(model => model.umur, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="jk">Jenis Kelamin :</label><br>
            @Html.DropDownListFor(model => model.jk, new SelectList(ViewBag.ListJK, "value", "name"), "--Pilih Jenis Kelamin--", new { @class = "form-control" })
        </div>

        <div class="form-group col-sm-6">
            <label for="telp">Telp :</label>
            <input type="text" class="form-control" id="telp" value="@Model.telp" />
            @Html.ValidationMessageFor(model => model.telp, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="alamat">Alamat Saat Ini :</label>
            <input type="text" class="form-control" id="alamat" value="@Model.alamat" />
            @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="asal">Alamat Asal :</label>
            <input type="text" class="form-control" id="asal" value="@Model.asal" />
            @Html.ValidationMessageFor(model => model.asal, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="berada">Saat Ini Berada Di ?</label>
            <input type="text" class="form-control" id="berada" value="@Model.berada" />
            @Html.ValidationMessageFor(model => model.berada, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<footer>
    <div class="btn-group col-md-offset-8" role="group" aria-label="Basic example">
        <input type="button" value="Edit" title="Edit" class="btn btn-primary" id="Edit" />
        <input type="button" value="Cancel" title="Cancel" class="btn btn-danger" data-dismiss="modal" />
    </div>
</footer>