﻿@model IEnumerable<ModelView.Covid_ModelView>

@{
    ViewBag.Title = "List";
}

<table class="table">
    <tr>
        <th>
            <font size="4" color="#023692">Email</font>
        </th>
        <th>
            <font size="4" color="#023692">Nama</font>
        </th>
        <th>
            <font size="4" color="#023692">NPM/NIS</font>
        </th>
        <th>
            <font size="4" color="#023692">Umur</font>
        </th>
        <th>
            <font size="4" color="#023692">Jenis Kelamin</font>
        </th>
        <th>
            <font size="4" color="#023692">Telp</font>
        </th>
        <th>
            <font size="4" color="#023692">Alamat Saat ini</font>
        </th>
        <th>
            <font size="4" color="#023692">Alamat Asal</font>
        </th>
        <th>
            <font size="4" color="#023692">Keberadaan</font>
        </th>
        <th>
            <font size="4" color="#023692">Action</font>
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.npm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.umur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jenisKelamin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.asal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.berada)
                </td>
                <td>
                    <button title="Edit" class="btn btn-warning btn_grid_edit" data-id="@item.id">
                        <span class="fa fa-edit" aria-hidden="true">
                        </span>
                    </button>
                    <button title="Delete" class="btn btn-danger btn_grid_delete" data-id="@item.id">
                        <span class="fa fa-trash" aria-hidden="true">
                        </span>
                    </button>
                </td>
            </tr>
        }

    }
</table>
